n8n-workflows/delivery-note-generation-workflow.json
{
  "name": "Delivery Note PDF Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-delivery-note",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "delivery-note-generation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validate-jo-id",
              "leftValue": "={{ $json.jo_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "validate-user-id",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "job_orders",
          "mode": "list",
          "cachedResultName": "job_orders"
        },
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + $json.jo_id }}",
        "options": {
          "queryName": "select=*,proforma_job_orders(id,pjo_number,origin,destination,commodity),customers(id,name,email,phone,address)"
        }
      },
      "id": "fetch-job-order",
      "name": "Fetch Job Order Data",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [690, 200],
      "credentials": {
        "supabaseApi": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_templates",
          "mode": "list",
          "cachedResultName": "document_templates"
        },
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "template_code=eq.DN_STANDARD&is_active=eq.true",
        "options": {}
      },
      "id": "fetch-template",
      "name": "Fetch Template",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [690, 400],
      "credentials": {
        "supabaseApi": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build delivery note variables for template processing\nconst jobOrder = $('Fetch Job Order Data').first().json;\nconst template = $('Fetch Template').first().json;\nconst webhookData = $('Webhook Trigger').first().json;\n\n// Format date helper\nfunction formatDate(dateString) {\n  if (!dateString) return '';\n  try {\n    const date = new Date(dateString);\n    return date.toLocaleDateString('id-ID', {\n      day: '2-digit',\n      month: '2-digit',\n      year: 'numeric'\n    });\n  } catch {\n    return dateString;\n  }\n}\n\n// Build items array from job order cargo details\nconst items = [];\n\n// Add main cargo item if cargo description exists\nif (jobOrder.cargo_description) {\n  items.push({\n    description: jobOrder.cargo_description,\n    quantity: Number(jobOrder.cargo_quantity) || 1,\n    condition: 'Good',\n    unit: 'unit',\n    weight_tons: jobOrder.cargo_weight_tons ? Number(jobOrder.cargo_weight_tons) : undefined\n  });\n}\n\n// If no cargo description but PJO has commodity, use that\nif (items.length === 0 && jobOrder.proforma_job_orders?.commodity) {\n  items.push({\n    description: jobOrder.proforma_job_orders.commodity,\n    quantity: 1,\n    condition: 'Good',\n    unit: 'unit'\n  });\n}\n\n// Calculate totals from items\nconst totalQuantity = items.reduce((sum, item) => sum + item.quantity, 0);\nconst totalWeightTons = items.reduce((sum, item) => sum + (item.weight_tons || 0), 0);\n\n// Get origin and destination from job order or PJO\nconst origin = jobOrder.origin || jobOrder.proforma_job_orders?.origin || '';\nconst destination = jobOrder.destination || jobOrder.proforma_job_orders?.destination || '';\n\n// Generate DN number from JO number\nconst dnNumber = `DN-${jobOrder.jo_number}`;\n\n// Build variables context\nconst variables = {\n  dn_number: dnNumber,\n  jo_number: jobOrder.jo_number || '',\n  pjo_number: jobOrder.proforma_job_orders?.pjo_number || '',\n  delivery_date: formatDate(jobOrder.delivery_date),\n  origin: origin,\n  destination: destination,\n  customer_name: jobOrder.customers?.name || '',\n  customer_address: jobOrder.customers?.address || '',\n  customer_phone: jobOrder.customers?.phone || '',\n  commodity: jobOrder.proforma_job_orders?.commodity || jobOrder.cargo_description || '',\n  items: items,\n  total_quantity: totalQuantity,\n  total_weight_tons: totalWeightTons,\n  notes: jobOrder.notes || ''\n};\n\nreturn {\n  jo_id: webhookData.jo_id,\n  user_id: webhookData.user_id,\n  template: template,\n  variables: variables,\n  document_number: dnNumber\n};"
      },
      "id": "build-variables",
      "name": "Build Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process template with variable substitution\nconst data = $input.first().json;\nconst template = data.template;\nconst variables = data.variables;\n\n// Variable substitution function\nfunction substituteVariable(template, varName, value) {\n  const stringValue = value === null || value === undefined ? '' : String(value);\n  const pattern = new RegExp('\\\\{\\\\{\\\\s*' + varName.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&') + '\\\\s*\\\\}\\\\}', 'g');\n  return template.replace(pattern, stringValue);\n}\n\n// Process loops\nfunction processLoop(template, loopName, items) {\n  const escapedName = loopName.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const loopPattern = new RegExp(\n    '\\\\{\\\\{#\\\\s*' + escapedName + '\\\\s*\\\\}\\\\}([\\\\s\\\\S]*?)\\\\{\\\\{/\\\\s*' + escapedName + '\\\\s*\\\\}\\\\}',\n    'g'\n  );\n  \n  return template.replace(loopPattern, (_, loopContent) => {\n    if (!Array.isArray(items) || items.length === 0) return '';\n    \n    return items.map(item => {\n      let rendered = loopContent;\n      for (const [key, value] of Object.entries(item)) {\n        rendered = substituteVariable(rendered, key, value);\n      }\n      return rendered;\n    }).join('');\n  });\n}\n\n// Start with HTML template\nlet html = template.html_template || '';\n\n// Inject CSS styles\nif (template.css_styles) {\n  html = substituteVariable(html, 'styles', template.css_styles);\n}\n\n// Inject letterhead if enabled\nconst letterheadHtml = `\n<div class=\"letterhead\" style=\"text-align: center; margin-bottom: 20px;\">\n  <h2 style=\"margin: 0;\">PT. Gama Intisamudera</h2>\n  <p style=\"margin: 5px 0; font-size: 12px;\">Heavy-Haul Logistics Solutions</p>\n  <p style=\"margin: 5px 0; font-size: 11px;\">Jl. Example Address No. 123, Jakarta, Indonesia</p>\n  <p style=\"margin: 5px 0; font-size: 11px;\">Tel: +62 21 1234567 | Email: info@gama-group.co</p>\n</div>\n`;\n\nif (template.include_letterhead) {\n  html = substituteVariable(html, 'letterhead', letterheadHtml);\n} else {\n  html = substituteVariable(html, 'letterhead', '');\n}\n\n// Process items loop\nhtml = processLoop(html, 'items', variables.items);\n\n// Substitute all other variables\nfor (const [key, value] of Object.entries(variables)) {\n  if (key !== 'items') {\n    html = substituteVariable(html, key, value);\n  }\n}\n\nreturn {\n  ...data,\n  processed_html: html\n};"
      },
      "id": "process-template",
      "name": "Process Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.HTML2PDF_API_URL}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"html\": {{ JSON.stringify($json.processed_html) }},\n  \"options\": {\n    \"format\": \"{{ $json.template.page_size || 'A4' }}\",\n    \"landscape\": {{ $json.template.orientation === 'landscape' }},\n    \"margin\": {\n      \"top\": \"{{ $json.template.margins?.top || 20 }}mm\",\n      \"right\": \"{{ $json.template.margins?.right || 20 }}mm\",\n      \"bottom\": \"{{ $json.template.margins?.bottom || 20 }}mm\",\n      \"left\": \"{{ $json.template.margins?.left || 20 }}mm\"\n    },\n    \"displayHeaderFooter\": {{ !!$json.template.header_html || !!$json.template.footer_html }}\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "convert-to-pdf",
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{HTML2PDF_CREDENTIAL_ID}}",
          "name": "HTML2PDF API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare file for upload\nconst prevData = $('Process Template').first().json;\nconst pdfBinary = $input.first().binary;\n\nconst now = new Date();\nconst year = now.getFullYear();\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst timestamp = now.getTime();\n\n// Sanitize document number for filename\nconst sanitizedNumber = (prevData.document_number || 'document')\n  .replace(/[^a-zA-Z0-9_-]/g, '_')\n  .replace(/_+/g, '_');\n\nconst filename = `${sanitizedNumber}_${timestamp}.pdf`;\nconst storagePath = `delivery_note/${year}/${month}/${filename}`;\n\nreturn {\n  ...prevData,\n  storage_path: storagePath,\n  filename: filename,\n  binary: pdfBinary\n};"
      },
      "id": "prepare-upload",
      "name": "Prepare Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/storage/v1/object/generated-documents/{{ $json.storage_path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "upload-to-storage",
      "name": "Upload to Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{SUPABASE_STORAGE_CREDENTIAL_ID}}",
          "name": "Supabase Storage API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build file URL and prepare record data\nconst prevData = $('Prepare Upload').first().json;\nconst uploadResult = $input.first().json;\n\nconst supabaseUrl = $env.SUPABASE_URL;\nconst fileUrl = `${supabaseUrl}/storage/v1/object/public/generated-documents/${prevData.storage_path}`;\n\n// Estimate file size (will be updated with actual size)\nconst fileSizeKb = Math.round((prevData.processed_html?.length || 0) * 2 / 1024);\n\nreturn {\n  template_id: prevData.template.id,\n  document_type: 'delivery_note',\n  document_number: prevData.document_number,\n  entity_type: 'job_order',\n  entity_id: prevData.jo_id,\n  file_url: fileUrl,\n  file_name: prevData.filename,\n  file_size_kb: fileSizeKb,\n  generated_at: new Date().toISOString(),\n  generated_by: prevData.user_id,\n  variables_data: prevData.variables\n};"
      },
      "id": "build-record",
      "name": "Build Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "generated_documents",
          "mode": "list",
          "cachedResultName": "generated_documents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "template_id": "={{ $json.template_id }}",
            "document_type": "={{ $json.document_type }}",
            "document_number": "={{ $json.document_number }}",
            "entity_type": "={{ $json.entity_type }}",
            "entity_id": "={{ $json.entity_id }}",
            "file_url": "={{ $json.file_url }}",
            "file_name": "={{ $json.file_name }}",
            "file_size_kb": "={{ $json.file_size_kb }}",
            "generated_at": "={{ $json.generated_at }}",
            "generated_by": "={{ $json.generated_by }}",
            "variables_data": "={{ JSON.stringify($json.variables_data) }}"
          }
        },
        "options": {}
      },
      "id": "create-record",
      "name": "Create Document Record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"document\": {\n    \"id\": \"{{ $('Create Document Record').first().json.id }}\",\n    \"file_url\": \"{{ $('Build Record').first().json.file_url }}\",\n    \"file_name\": \"{{ $('Build Record').first().json.file_name }}\",\n    \"document_number\": \"{{ $('Build Record').first().json.document_number }}\",\n    \"generated_at\": \"{{ $('Build Record').first().json.generated_at }}\"\n  }\n}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2670, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Invalid input: jo_id and user_id are required\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "validation-error",
      "name": "Validation Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Fetch Job Order Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job Order Data": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Template": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Build Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Variables": {
      "main": [
        [
          {
            "node": "Process Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Template": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Prepare Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload": {
      "main": [
        [
          {
            "node": "Upload to Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Storage": {
      "main": [
        [
          {
            "node": "Build Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Record": {
      "main": [
        [
          {
            "node": "Create Document Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Document Record": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "document-generation"
    },
    {
      "name": "delivery-note"
    }
  ],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "gama-erp"
  }
}
